*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.idea
.ruby-version
.git/
.fabric/
node_modules/
.venv/
__pycache__/
venv/
build/
dist/
out/
.cache/
cache/
tmp/
tmp.benchmarks/
*.map
*.log
.DS_Store
